.App .navbar {
  background-color: black;
  height: 3.43rem;
  justify-content: start;
  align-items: center;
  display: block;
  z-index: 100000;
}

.menu-bars {
  font-size: 2rem;
  background: none;
  float: left;
}

.nav-menu {
  background-color: #121212;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  z-index: 100000;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.mobile .nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
  text-decoration-color: white;
}

.nav-text a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #03dac5;
}

.nav-menu-items {
  width: 100%;
  color: white;
}

.navbar-toggle {
  background-color: #121212;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.mobile span {
  margin-left: 16px;
}