.linkedin {
  position: fixed;
  left: 3%;
  top: 74%;
  cursor: pointer;
}

.github {
  position: fixed;
  left: 3%;
  top: 68%;
  cursor: pointer;
}

.github :hover,
.linkedin :hover,
.instagram :hover {
  color: #64ffd3;
}

.instagram {
  position: fixed;
  left: 3%;
  top: 80%;
  cursor: pointer;
}
